body {
	background-image: url("../images/ac_wallpaper.jpg");
	font-family: 'Roboto', Arial, sans-serif;
	line-height: 1.6;
	
}

nav {
	background-color: #008080;
	text-align: center;
	padding: 1em;
}

